@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 375px;
  max-width: 100%;
  background-color: #f7f7f9;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  display: flex;
  min-width: 351px;
  max-width: 100%;
  height: 48px;
  padding: 4px 12px 4px 12px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
}

.nav_desktop {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headline {
  display: flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 0 0 0 80px;
  background-color: white;
  min-width: 320px;
  max-width: 100%;
  position: relative;
}

.logo {
  color: #6070ff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

#rectangle-1 {
  width: 51.99px;
  height: 9.301px;
  transform: rotate(-46.142deg);
  flex-shrink: 0;
  background: #ebebff;
  position: absolute;
  left: -38px;
  top: 35px;
}

#cut-ellipse-1 {
  width: 38.503px;
  height: 31.252px;
  transform: rotate(-0.88deg);
  flex-shrink: 0;
  fill: #6070ff;
  position: absolute;
  left: 0;
  top: 45px;
  background: url("/images/Ellipse-11.png") no-repeat;
}

#rectangle-2 {
  width: 26.462px;
  height: 4.734px;
  transform: rotate(32.233deg);
  flex-shrink: 0;
  background: #6070ff;
  position: absolute;
  top: 12%;
  left: 33%;
}

#ellipse-2 {
  width: 11px;
  height: 10px;
  transform: rotate(52.971deg);
  flex-shrink: 0;
  background-color: #cbcdff;
  position: absolute;
  top: 12.5%;
  left: 33%;
  border-radius: 999px;
}

#rectangle-3 {
  width: 95.58px;
  height: 22.021px;
  transform: rotate(-30deg);
  flex-shrink: 0;
  background: #ebebff;
  position: absolute;
  top: 48px;
  right: -15px;
}

#cut-ellipse-hollow {
  height: 100px;
  width: 51px;
  flex-shrink: 0;
  position: absolute;
  top: 62px;
  right: 0;
  background: url("/images/Ellipse-3.png") no-repeat;
}

#cut-ellipse-2 {
  width: 24.142px;
  height: 12.071px;
  transform: rotate(0deg);
  flex-shrink: 0;
  position: absolute;
  top: 73%;
  right: 12%;
}

#rectangle-4 {
  width: 68.063px;
  height: 12.176px;
  transform: rotate(23.34deg);
  flex-shrink: 0;
  background: #ebebff;
  position: absolute;
  bottom: 8%;
  left: 50%;
}

#ellipse-1 {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background: #6070ff;
  position: absolute;
  bottom: 8%;
  border-radius: 99px;
  left: 64%;
}

#ellipse-hollow {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 1px solid lightgray;
  position: absolute;
  bottom: 10%;
  left: 14%;
}

.intro {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.description {
  width: 98%;
  height: auto;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contact {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bg {
  width: 108.669px;
  height: 19.44px;
  transform: rotate(-46.142deg);
  flex-shrink: 0;
  background-color: #172b4d;
}

.icons {
  width: 170.167px;
  height: 20px;
}

.work-section {
  display: inline-flex;
  padding: 114px 0;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  background-color: #f7f7f9;
  border-radius: 0 0 30px 30px;
  min-width: 329px;
  width: 100%;
}

.cards {
  display: flex;
  width: 80%;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background: #fff;
}

.image {
  width: 100%;
  max-width: 100%;
  height: 220px;
  border-radius: 8px;
}

.img-1 {
  background: url("/images/Snapshoot-Portfolio.png") no-repeat;
  background-position: center;
}

.img-2 {
  background: url("/images/Snapshoot-Portfolio-1.png") no-repeat;
  background-position: center;
}

.img-3 {
  background: url("/images/Snapshoot-Portfolio-2.png") no-repeat;
  background-position: center;
}

.img-4 {
  background: url("/images/Snapshoot-Portfolio-4.png") no-repeat;
  background-position: center;
}

.block {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.header-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.title {
  width: 295px;
  height: 36px;
  color: #172b4d;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}

.info {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.category {
  padding: 8px;
  display: flex;
  color: #344563;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
}

.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 9999px;
}

.description-2 {
  width: 295px;
  height: 76px;
  color: #344563;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.tags {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.tag {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #6070ff;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 169px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.project-link {
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #6070ff solid;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #396df2;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
  text-align: center;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  overflow: hidden;
  background-color: white;
  border-radius: 0 80px 0 0;
}

.header-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 85%;
}

.title-3 {
  width: 327px;
  height: 54px;
  color: #172b4d;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
  margin-top: 25px;
}

.description-3 {
  width: 100%;
  height: auto;
  color: #344563;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.connect-title {
  color: #7f8cff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.social-icons {
  display: flex;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-resume {
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px #6070ff solid;
  text-align: center;
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  word-wrap: break-word;
}

.languages,
.frameworks,
.skills {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 12px;
  width: 85%;
}

.grey {
  background-color: rgb(240, 239, 239);
  border-radius: 10px;
}

.heading-lang {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.languages-title,
.frameworks-title,
.skills-title {
  width: 237px;
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.language,
.framework,
.skill {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 26px 16px 12px;
  width: 100%;
}

.language img,
.framework img,
.skill img {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  border: 1px white solid;
}

.language-name {
  width: 215px;
  height: 24px;
  color: #253858;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}

.frameworks,
.skills {
  height: 72px;
  position: relative;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.frameworks-title,
.skills-title {
  width: 237px;
  left: 12px;
  top: 24px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.skillset {
  display: none;
}

.framework,
.skill {
  padding: 15px;
  left: 95%;
  top: 18px;
  position: absolute;
  border-radius: 8px;
  display: inline-flex;
}

.framework img,
.skill img {
  width: 18px;
  height: 21px;
  left: 9px;
  top: 5px;
  position: absolute;
}

.container > div > div:last-child {
  width: 327px;
  height: 1px;
  left: 0;
  top: 71px;
  position: absolute;
  background: #dfe1e6;
}

.contact-2 {
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 80px 0 0 0;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  height: 779px;
  overflow: hidden;
}

.contact-2 h1 {
  color: white;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
  text-align: center;
  margin-top: 17%;
}

.contact-2 p {
  color: #ebebff;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  width: 81%;
  height: auto;
  flex-shrink: 0;
  text-align: center;
}

#round-ellipse {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  background: #7f8cff;
  border-radius: 9999px;
  position: absolute;
  left: 42%;
  top: 6%;
}

#rectangle-blue {
  width: 74.701px;
  height: 17.211px;
  transform: rotate(-23.177deg);
  flex-shrink: 0;
  background: var(--primary-b-300, #7f8cff);
  position: absolute;
  top: 4%;
  right: -3%;
}

#ellipse-cut-white {
  flex-shrink: 0;
  position: absolute;
  top: 5.8%;
  right: 0%;
}

#round-ellipse-white {
  width: 31.11px;
  height: 31.11px;
  transform: rotate(48.943deg);
  flex-shrink: 0;
  position: absolute;
  bottom: 6%;
  right: 20%;
  background-color: white;
  border-radius: 999px;
}

#rectangle {
  width: 76.175px;
  height: 13.627px;
  transform: rotate(44.739deg);
  flex-shrink: 0;
  background: #7f8cff;
  position: absolute;
  bottom: 8%;
  right: 7%;
}

form {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div-width {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 83%;
  height: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 12px 0;
  padding: 15px 38px 15px 16px;
}

form button {
  display: inline-flex;
  padding: 10px 14px;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  color: #6070ff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  outline: none;
  border: none;
}

form textarea {
  width: 83%;
  height: 130px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0;
  padding: 15px 38px 15px 16px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: none;
  }

  header {
    padding: 10px 100px;
  }

  .nav_desktop {
    display: block;
  }

  .nav_desktop ul {
    display: flex;
    gap: 30px;
  }

  .nav_desktop ul li {
    list-style: none;
  }

  .nav_desktop ul li a {
    text-decoration: none;
    color: #344563;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  #rectangle-1 {
    width: 85.669px;
    height: 13.44px;
    transform: rotate(-41.142deg);
    flex-shrink: 0;
    left: 1%;
    top: 5%;
  }

  #cut-ellipse-1 {
    width: 78.48px;
    height: 57.24px;
    transform: rotate(4.12deg);
    flex-shrink: 0;
    background: url("/images/Ellipse-desktop.png") no-repeat;
    background-size: 58px;
    left: 4%;
    top: 8%;
  }

  #ellipse-2 {
    width: 13px;
    height: 13px;
    transform: rotate(52.971deg);
    flex-shrink: 0;
    background-color: #cbcdff;
    position: absolute;
    top: 13.4%;
    left: 61.5%;
    border-radius: 999px;
  }

  #rectangle-2 {
    width: 39.462px;
    height: 7.734px;
    transform: rotate(-12.767deg);
    flex-shrink: 0;
    background: #6070ff;
    position: absolute;
    top: 12%;
    left: 60%;
  }

  #rectangle-3 {
    width: 132.58px;
    height: 24.021px;
    transform: rotate(-35deg);
    flex-shrink: 0;
    background: #ebebff;
    position: absolute;
    top: 9%;
    right: 6%;
  }

  #cut-ellipse-hollow {
    background: url("/images/Ellipse-desktop-cut.png") no-repeat;
    width: 119px;
    height: 19%;
    background-size: 115px;
    right: 3%;
    top: 11%;
    transform: rotate(7deg);
  }

  .headline {
    padding: 150px 185px;
  }

  #rectangle-4 {
    width: 78.063px;
    height: 14.176px;
    transform: rotate(23.34deg);
    flex-shrink: 0;
    background: #ebebff;
    position: absolute;
    bottom: 7.8%;
    left: 50%;
  }

  #ellipse-1 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: #6070ff;
    position: absolute;
    bottom: 9%;
    border-radius: 99px;
    left: 56%;
  }

  .work-section {
    justify-content: center;
  }

  .cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    max-width: 100%;
    height: 220px;
    border-radius: 8px;
  }

  .img-1 {
    height: 309px;
    width: 373px;
    background: url("/images/Desktop/Snapshoot-Portfolio.png") no-repeat;
    background-position: center;
    background-size: 370px;
  }

  .img-2 {
    height: 309px;
    width: 373px;
    background: url("/images/Desktop/Snapshoot-Portfolio-2.png") no-repeat;
    background-position: center;
    background-size: 370px;
  }

  .img-3 {
    height: 309px;
    width: 373px;
    background: url("/images/Desktop/Snapshoot-Portfolio-3.png") no-repeat;
    background-position: center;
    background-size: 370px;
  }

  .img-4 {
    height: 309px;
    width: 373px;
    background: url("/images/Desktop/Snapshoot-Portfolio-4.png") no-repeat;
    background-position: center;
    background-size: 370px;
  }

  .description-2 {
    width: 387px;
    height: 45px;
    color: #344563;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
}
